.signupButton  {
    color: #cccccc;
    background-color: #ff5500;
    border-top: none;
    border-bottom: none;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.signupButton:hover {
    background-color: #94BB3F;
    font-weight: bold;
}
