.swarmPlayer{
    width: 100%;
    position: fixed;
    bottom: 0px;
    left: 0px;
    color: black;
}

.swarmPlayer .singleSong {
    width: 100%
}

.rhap_additional-controls {
    max-width: 45%
}
