.songsList {
    margin-left: 1em;
    display: flex;
    flex-direction: column;
    max-width: 95%;
    max-height: 70%;
    flex-flow: row wrap;
    margin-bottom: 48px;
    gap: 75px;
}


h1 {
    margin-left: 2em;
}
