/* TODO Add site wide styles */
* {
    box-sizing: border-box;
    font-family: "Lucida Grande","Lucida Sans Unicode","Lucida Sans","Garuda","Verdana","Tahoma","sans-serif";
}

body {
    color: #222222;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    overflow-y: hidden;
}

.wrapper {
    padding-top: 1em;
    padding-left: 1em;
    max-height: 750px;
    overflow-y: scroll;
}

h1 {
    margin-left: 1em;
    font-weight: bold;
}

.crying {
    display: block;
    height: 200px;
    margin-top: 20px;
    margin-bottom: 0px;
}

.alsoCrying {
    height: 50px;
}

::-webkit-scrollbar {
  width: 1em;
}

::-webkit-scrollbar-track {
  background: #222222
}

::-webkit-scrollbar-thumb {
  background: #ff5500;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
}
