/* TODO Add site wide styles */
* {
    box-sizing: border-box;
}

body {
    font-family: "Lucida Grande","Lucida Sans Unicode","Lucida Sans","Garuda","Verdana","Tahoma","sans-serif";
    color: #333;
    padding-bottom: 12.5%;
}
