

.singleSong {
  padding: 10px;
  overflow: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1em;
}

.singleSong:hover {
  background: #eee;
  cursor: pointer;
}

.singleSong img {
  height: 100px;
  width: 100px;
  object-fit: cover;
}

.singleSong.small {
  padding: none;
  height: 60px;
  width: 100%;
  overflow: hidden;
}

.singleSong.small img {
  height: 50px;
  width: 50px;
}

.singleSong.small .songTileDetail {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}
