

.singleSong {
  padding: 10px;
  display: flex;
  width: 250px;
  justify-content: flex-start;
  align-items: center;
  gap: 1em;
      overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: inherit;
    word-break: normal;
}

.songTileDetail {
  max-width: 250px;
}

.songTileDetail h3 {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
    word-break: normal;
}

.singleSong:hover {
  background: #eee;
  cursor: pointer;
}

.singleSong img {
  height: 100px;
  width: 100px;
  object-fit: cover;
}

.singleSong.small {
  height: 60px;
  width: 100%;
}

.singleSong.small img {
  height: 50px;
  width: 50px;
}

.singleSong.small .songTileDetail {
  min-width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.singleSong.tile {
  display: grid;
  grid-template-areas:
   "photo"
   "tile"
   "description";
  grid-template-columns: 200px;
  grid-template-rows: 200px 30px 30px;
  width: 200;
  height: 270px;
  overflow: hidden;
  font-size: small;
  padding: 0px;
}

.singleSong.tile img {
  height: 200px;
  width: 200px;
  grid-area: photo;
  border-radius: 8px;
  box-shadow: 2px 4px 3px rgba(0,0,0,0.4)
}

.singleSong.tile .songTileDetail {
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}


.singleSong.tile .songTileDetail p {
  margin-top: 0px;
}

.singleSong.tile .songTileDetail h3 {
  text-overflow: ellipsis;
  grid-area: title;
  margin-bottom: 0px;
}

.singleSong.tile p {
  display: flex;
  grid-area: description;
}

@keyframes bounce {
	0%, 100%, 20%, 50%, 80% {
		transform: translateY(0)
	}
	40% {
		transform: translateY(-10px)
	}
	60% {
		transform: translateY(-5px)
	}
}

.singleSong.tile:hover {
  cursor: pointer;
   animation: bounce .5s infinite;
   -webkit-animation: bounce .5s infinite;
   -moz-animation: bounce .5s infinite;
   -o-animation: bounce .5s infinite;
}
.singleSong i {
  display: none;
}

.singleSong.singleSong.tile p i {
  color: #666666;
  margin-left: 0.5em;
  display: flex;
  justify-content: center;
  align-items: center;
}
