nav {
    height: 50px;
    width: 100%;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 70%, rgba(149,146,141,1) 100%);
}

nav a {
    text-decoration: none;
}

nav a:visited {
    text-decoration: none;
}

nav ul {
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

nav li {
    height: inherit;
}

nav button, .homeButton {
    height: inherit;
}

.homeButton {
    color: #fefefe;
}
